body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-134px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:772px;
}
#u90 {
  position:absolute;
  left:134px;
  top:104px;
  width:420px;
  height:771px;
}
#u91 {
  position:absolute;
  left:2px;
  top:378px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93 {
  position:absolute;
  left:134px;
  top:169px;
  width:421px;
  height:647px;
  overflow:hidden;
}
#u93_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u94 {
  position:absolute;
  left:114px;
  top:256px;
  width:32px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:-2px;
  width:32px;
  white-space:nowrap;
}
#u93_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u96 {
  position:absolute;
  left:109px;
  top:240px;
  width:43px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:-2px;
  width:43px;
  white-space:nowrap;
}
#u93_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u98 {
  position:absolute;
  left:122px;
  top:214px;
  width:29px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:-2px;
  width:29px;
  white-space:nowrap;
}
#u93_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u100 {
  position:absolute;
  left:127px;
  top:237px;
  width:15px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:-2px;
  width:15px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:61px;
}
#u102 {
  position:absolute;
  left:134px;
  top:815px;
  width:105px;
  height:60px;
}
#u102_img.selected {
  left:-1px;
  top:-1px;
  width:108px;
  height:63px;
}
#u102.selected {
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u104 {
  position:absolute;
  left:239px;
  top:815px;
  width:105px;
  height:60px;
}
#u104_img.selected {
  left:-1px;
  top:-1px;
  width:108px;
  height:63px;
}
#u104.selected {
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u106 {
  position:absolute;
  left:344px;
  top:815px;
  width:105px;
  height:60px;
}
#u106_img.selected {
  left:-1px;
  top:-1px;
  width:108px;
  height:63px;
}
#u106.selected {
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u108 {
  position:absolute;
  left:449px;
  top:815px;
  width:105px;
  height:60px;
}
#u108_img.selected {
  left:-1px;
  top:-1px;
  width:108px;
  height:63px;
}
#u108.selected {
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:66px;
}
#u110 {
  position:absolute;
  left:134px;
  top:104px;
  width:420px;
  height:65px;
}
#u111 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
