body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.8);
  background-image:none;
  position:relative;
  left:-0px;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:239px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:208px;
  width:375px;
  height:238px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:111px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:254px;
  width:256px;
  height:40px;
}
#u431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background-color:#CCCCCC;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:254px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:309px;
  width:256px;
  height:40px;
}
#u435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background-color:#CCCCCC;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:309px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:371px;
  width:304px;
  height:35px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  position:absolute;
  left:-276px;
  top:371px;
}
#u440_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
  background-color:rgba(255, 255, 255, 0.8);
  background-image:none;
}
#u440_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
  color:rgba(0, 0, 0, 0.298039215686275);
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:315px;
  height:46px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:371px;
  width:304px;
  height:35px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.298039215686275);
}
#u446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:371px;
  width:49px;
  height:36px;
  overflow:hidden;
  touch-action:none;
}
#u447_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u447_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:371px;
  width:1px;
  height:35px;
  opacity:0;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
