body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.8);
  background-image:none;
  position:relative;
  left:-156px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:239px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:82px;
  width:375px;
  height:238px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:111px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:128px;
  width:256px;
  height:40px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background-color:#CCCCCC;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:128px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:183px;
  width:256px;
  height:40px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background-color:#CCCCCC;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:183px;
  width:48px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:48px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:36px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:245px;
  width:304px;
  height:35px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:245px;
  width:48px;
  height:35px;
  color:rgba(0, 0, 0, 0.298039215686275);
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:315px;
  height:46px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:245px;
  width:304px;
  height:35px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.298039215686275);
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:245px;
  width:49px;
  height:36px;
  overflow:hidden;
  touch-action:none;
}
#u152_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:245px;
  width:1px;
  height:35px;
  opacity:0;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
