body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-176px;
  width:766px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u162_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:386px;
  height:191px;
}
.u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
}
.u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
.u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
.u165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
.u166_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:190px;
  height:50px;
}
.u166 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:0px;
  width:179px;
  height:39px;
  text-align:left;
}
.u167 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
.u168_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:104px;
  height:36px;
}
.u168 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:93px;
  height:25px;
  color:#797979;
  text-align:left;
}
.u169 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
.u170_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:97px;
  height:36px;
}
.u170 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:50px;
  width:86px;
  height:25px;
  color:#797979;
  text-align:left;
}
.u171 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
.u172_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:206px;
  height:43px;
}
.u172 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:148px;
  width:195px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.u173 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u160-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
}
#u160-2 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:0px;
  width:375px;
  height:180px;
}
#u160-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:375px;
  height:180px;
}
#u160-4 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:196px;
  width:375px;
  height:180px;
}
#u160-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:375px;
  height:180px;
}
#u160-6 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:392px;
  width:375px;
  height:180px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:151px;
  width:766px;
  height:572px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
