body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-137px;
  width:694px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:82px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:116px;
  width:355px;
  height:81px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:150px;
  width:58px;
  height:16px;
  text-align:center;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u33_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:150px;
  width:75px;
  height:16px;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:150px;
  width:58px;
  height:16px;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u37_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:234px;
  width:44px;
  height:42px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:276px;
  width:44px;
  height:15px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:291px;
  width:44px;
  height:29px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:42px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:234px;
  width:13px;
  height:42px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:42px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:234px;
  width:29px;
  height:42px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:276px;
  width:13px;
  height:15px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:29px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:291px;
  width:13px;
  height:29px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:276px;
  width:29px;
  height:15px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:291px;
  width:29px;
  height:29px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:42px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:234px;
  width:29px;
  height:42px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:446px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:358px;
  width:252px;
  height:446px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:215px;
  width:248px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:221px;
  width:112px;
  height:112px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:133px;
  width:114px;
  height:33px;
  color:#0000FF;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:171px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:308px;
  width:170px;
  height:170px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:171px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:390px;
  width:170px;
  height:170px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:171px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:346px;
  width:170px;
  height:170px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
