body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:relative;
  left:-111px;
  width:712px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:33px;
  width:713px;
  height:379px;
  overflow:hidden;
}
#u224_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:379px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:378px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:378px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:181px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:125px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:417px;
  width:712px;
  height:124px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
.u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u232_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:122px;
}
.u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:111px;
}
.u232_img.selected {
  left:-6px;
  top:-6px;
  width:127px;
  height:124px;
}
.u232.selected {
}
.u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
.u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
.u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:113px;
  height:16px;
  font-size:8px;
}
.u234_img.selected {
}
.u234.selected {
}
.u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:113px;
  word-wrap:break-word;
}
.u236 {
  position:absolute;
  left:3px;
  top:3px;
}
.u236_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
  background-image:none;
}
.u236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
}
.u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
.u238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
.u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
.u239 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:100px;
  height:84px;
}
.u240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u236_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
  visibility:hidden;
  background-image:none;
}
.u236_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
.u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
.u242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230-1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  height:111px;
}
#u230-2 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:2px;
  width:114px;
  height:111px;
}
#u230-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:2px;
  width:114px;
  height:111px;
}
#u230-4 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:2px;
  width:114px;
  height:111px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:424px;
  width:490px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:455px;
  width:29px;
  height:50px;
  opacity:0.7;
}
#u243_img.mouseDown {
}
#u243.mouseDown {
  opacity:1;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:454px;
  width:29px;
  height:50px;
  opacity:0.7;
}
#u245_img.selected {
}
#u245.selected {
  opacity:1;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:607px;
  width:36px;
  height:16px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
