body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-163px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:92px;
  width:360px;
  height:640px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:92px;
  width:360px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:98px;
  width:32px;
  height:13px;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:96px;
  width:19px;
  height:16px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:96px;
  width:16px;
  height:16px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:57px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:116px;
  width:360px;
  height:56px;
  font-size:19px;
  text-align:left;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:17px;
  width:286px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:133px;
  width:24px;
  height:24px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:132px;
  width:24px;
  height:24px;
  opacity:0.600000023841858;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:132px;
  width:24px;
  height:24px;
  opacity:0.600000023841858;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:192px;
  width:24px;
  height:24px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:188px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:197px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:225px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:178px;
  width:200px;
  height:224px;
  font-size:15px;
  line-height:56px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:281px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:419px;
  width:200px;
  height:280px;
  font-size:15px;
  line-height:56px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:242px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:251px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:297px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:306px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:351px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:360px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:412px;
  width:288px;
  height:1px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:436px;
  width:13px;
  height:19px;
  font-size:19px;
  color:#FF6699;
  text-align:center;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:427px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:436px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:481px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:490px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:536px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:545px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:590px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:599px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:652px;
  width:38px;
  height:38px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:661px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-30px;
  width:117px;
  height:117px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:612px;
  width:56px;
  height:56px;
}
#u149_img.mouseDown {
}
#u149.mouseDown {
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:628px;
  width:24px;
  height:24px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:685px;
  width:360px;
  height:47px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
